.style-content {
    display: flex;
    align-items: stretch;
    background-color: white;
}

.style-content > div {
    background-color: white;
    color: black;
    text-align: left;
    line-height: 35px;
    font-size: 15px;
}

.style-left {
    display: flex;
    flex-direction: column;
    background-color: violet;
    width: 800px;
    margin: 10px;
}

.style-left > div {
    background-color: white;
    margin: 1px;
    text-align: left;
    line-height: 25px;
    font-size: 15px;
    height: 600px;
    margin: 16px;
}

.style-right {
    display: flex;
    flex-direction: column;
    background-color: violet;
    width: 360px;
    margin-top: 16px;;
}

.style-right > div {
    background-color: white;
    margin: 10px;
    text-align: left;
    line-height: 25px;
    font-size: 15px;
}

.header {
    background-color: white;
    width: 1471.2px;
    height: 120px;
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer {
    background-color: grey;
    width: 1471.2px;
    height: 80px;
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
}

.read-comment {
    background-color: white;
    display: flex;
}

.read-comment div {
    width: 50%;
    height: 50px;
}

.comment {
    width: 24px;
    height: 22.4px;
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 100%;
    border: 1px;
    padding: 8px;
    font-size: 20px;
}

.comment-right {
    text-align: right;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
    color: brown;
}

.button {
    width: 149px;
    height: 47px;
    padding: 10px;
    background-color: white;
    font-size: 15px;
    margin-left: 16px;
}
 .button :hover {
     color: gainsboro;
 }

.read-more {
    margin: 10px;
}

.style-right2 {
    display: flex;
    flex-direction: column;
    width: 427.74px;
    margin-top;: 16px;
    height: 450px;
}

.style-right2 > div {
    background-color:white;
    text-align: left;
    line-height: 25px;
    font-size: 15px;
    height: 80px;
    border: black ;
    border: 1px;
    margin: 5px;
    padding-left: 16px;
}

.img > img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 16px;
    vertical-align: middle;
    padding: 8px;   
}

.img > p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
   margin-top: 4px;
}

.style-right2 :hover {
    background-color: gainsboro;
}

.style-right3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    height: 220px;
}

.style-right3 > div {
    flex-direction: column;
}
 .Tags {
     background-color: whitesmoke;
     height: 220px;
     padding-top: 16px;
     padding-bottom: 16px;
     padding-left: 16px;
     text-align: left ;
     font-size: 25px;
 }

 .style-right3-2 {
     background-color: white;
     margin: 10px;
 }

 .style-right3-3 > span {
     background: whitesmoke;
     color: black;
     padding-left: 20px;
     padding-right: 20px;
     text-align: center;
     font-size: 20px;
     line-height: 30px;
 }

 h3 > span {
     color: gray;
 }

 h1,h2,h3,h4 {
     margin-left: 16px;
 }

 

